@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
@using eCommerce.ViewModels
@model List<ProductViewModel>

<h2>
    @ViewData["Title"]
</h2>
<ul>
    @foreach(var product in Model)
    {
        <li>@product.ProductName</li>
    }
</ul>

<div>
    @TempData["Copyright"]
</div>
